@charset "UTF-8";  

* {font-family: 'Raleway', sans-serif;color: #010101;}
html {height: 100%;scroll-behavior: smooth;}
body {width: 100%;height: 100%;font-family: 'Open Sans', sans-serif;overflow-x: hidden;font-family: 'Raleway', sans-serif;}

/* common */
.wrap {width: 100%;height:100%;min-height: 100%;position: relative;}
.max-width {max-width: 1140px;margin:0 auto;box-sizing: border-box;} 
.container {position: relative;width:100%;margin: 0 auto;box-sizing: border-box;}
.in {padding: 0 80px;box-sizing: border-box;}
.flex {display: flex;align-items: center;justify-content: space-between;}

/* nav */
.navbar {z-index: 10000;position: fixed;top: 0;left: 0;right: 0;padding: 25px 80px;display: flex;justify-content: space-between;align-items: center;}
.navbar .inner {display: flex;justify-content: space-between;width: 100%;align-items: center;}
.navbar .inner .logo{position:relative;flex: 1;margin: 0 20px 0 0;display: flex;align-items: center;justify-content: space-between; }
.navbar .inner .logo a {display: inline-block;align-self: center;width: 55px;height: auto; color:#5C5C5C;font-size: 28px;font-weight: bold;}
.navbar .inner .logo a img {width: 100%;height: 100%;object-fit: cover;}
.navbar .inner .navbar__menu {display: flex;list-style: none;padding-left: 0;}
.navbar .inner .navbar__menu li {margin-left: 30px;}
.navbar .inner .navbar__menu li a:hover {color: #010101;}
.navbar .inner .navbar__menu li a {color: #5C5C5C;font-size: 14px;font-weight: bold;}
.navbar .inner .navbar__toggleBtn {display: none;position: absolute;top: 20px;right: 23px;font-size: 24px;color: #fff;}
.active{background-color: #fff;transition-duration: 0.5s;transition-timing-function: ease;-webkit-transition-duration:0.4s;-webkit-transition-timing-function:ease;}
.deactive{background-color: transparent;transition-duration: 0.5s;transition-timing-function: ease;-webkit-transition-duration:0.4s;-webkit-transition-timing-function:ease;}

.slider .swiper-slide.bg2 .text-box {background-color: #45474e;}
.slider .swiper-slide {position: relative;background-color: #EFEAD8; display: flex;align-items: flex-start;justify-content: center; flex-direction: column;color: #fff;text-align: left;}
.slider .swiper-slide .text-box {background-color: #D0C9C0;width: 100%;height:40%;padding: 0 80px;box-sizing: border-box;}
.slider .swiper-slide .text-box .h1 {opacity: 0;display: inline-block;background-color: #fff;margin-top: -250px;margin-bottom: 10px;font-size: 24px;color: #D0C9C0;font-weight: 500;text-align: left;padding: 15px 75px 15px 5px;box-sizing: border-box;}
.slider .swiper-slide .text-box .name {margin: 30px 0 15px;color: #fff;}
.slider .swiper-slide .text-box span {opacity: 0;display:block; font-size: 60px;color: #e1e1e1;font-weight: bold;text-align: left;}
.paralax-image {overflow: hidden;height: 100vh;position: relative;}
.paralax-image img {position: absolute;height: 100vh;min-width:100%;filter: brightness(40%);object-fit: cover;}
.slider .swiper-slide.swiper-slide-active .h1 {animation: text 1s .3s both;}
.slider .swiper-slide.swiper-slide-active .name {animation: text 1s .6s both;}
.slider .swiper-slide.swiper-slide-active .sub {animation: text 1s .9s both;}

.scroll-downs {position: absolute;right: 0;bottom: 30px;left: 0;margin: auto;width :25px;height: 50px;}
.mousey {width: 3px;padding: 10px 15px;height: 35px;border: 2px solid #45474e;border-radius: 25px;opacity: 0.75;box-sizing: content-box;}
.scroller {width: 3px;height: 10px;border-radius: 25%;background-color: #45474e;animation-name: scroll;animation-duration: 2.2s;animation-timing-function: cubic-bezier(.15,.41,.69,.94);animation-iteration-count: infinite;}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
@keyframes text {
  0% {opacity: 0; transform: translateY(30px);}
  100% {opacity: 1; transform: translateY(0);}
}

/* side icon fixed */
.fixed-icon {z-index: 999999; position: fixed;bottom: 0;right: 30px;}
.fixed-icon ul {display: flex;flex-direction: column;-webkit-box-align: center;align-items: center;margin: 0px;padding: 0px;list-style: none;}
.fixed-icon ul li {margin-bottom: 15px;}
.fixed-icon ul li a {display: inline-block;}
.fixed-icon ul li a > i {font-size: 20px;color: #585858;}
.fixed-icon ul::after {content: "";display: block;width: 1px;height: 60px;margin: 0px auto;background-color: #585858}


.content-wrapper {height: 100vh;}
.content-wrapper section {position: relative;height: 100vh;}
.parallax,
.static {color: white;display: flex;align-items: center;justify-content: center;position: relative;}
.parallax {height: 100vh;}
.static {height: 80vh;z-index: 999;background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);}
.parallax>.parallax-image {position: absolute;width: 100%;height: 100%;}
.content {font-size: 6rem;}
.sub-content {font-size: 2rem;text-align: center;}
.sub-content a {color: inherit;font-size: 1.5rem;text-decoration: none;}
.sub-content a:hover {color: #1dd1a1;}

.content-wrapper .about-content {height: 100vh;background-color: #36435A;padding: 80px;box-sizing: border-box;}
.content-wrapper .about-content::before {content:'';display:block;position:absolute;left: 40px;top: 80px;bottom: 0; width:1px;height: 100%;background-color: white;}
.content-wrapper .about-content h2 {position: relative;margin:50px 0; color: #fff;font-size: 36px;text-align: right;}
.content-wrapper .about-content h2::after {content: '';display: block;position: absolute;right: 185px;top: 20px;margin-right: -25px;bottom: 0;width: 100%;height: 1px;background-color: white;overflow: hidden;}
.content-wrapper .about-content .flex {align-items: flex-start;justify-content: space-between; padding: 50px;box-sizing: border-box;overflow: hidden;}
.content-wrapper .about-content .flex .img {width: 50%;height: 560px;background-color: #eee;}
.content-wrapper .about-content .flex .img img {max-width: 100%;height: auto;object-fit: cover;}
.content-wrapper .about-content .flex .text { width: 50%;padding-top: 50px;padding-left: 60px;box-sizing: border-box;}
.content-wrapper .about-content .flex .text span {display: block;color: #fff; font-size: 24px;margin-bottom: 20px;}
.content-wrapper .about-content .flex .text span strong {font-size: 32px;color:#e1c154;font-weight: bold;letter-spacing: 1px;}
.content-wrapper .about-content .flex .text .title {font-size: 32px;color:#e1c154;font-weight: bold;}
.content-wrapper .about-content .flex .text .sub {margin-bottom: 50px;}

.content-wrapper .work-content {height: 100vh;background-color: #BCBBA9;padding: 80px;box-sizing: border-box;}
.content-wrapper .work-content::before {content:'';display:block;position:absolute;left: 40px;top: 80px;bottom: 0; width:1px;height: 100%;background-color: white;}
.content-wrapper .work-content h2 {position: relative;margin:50px 0 20px; color: #fff;font-size: 36px;text-align: right;}
.content-wrapper .work-content h2::after {content: '';display: block;position: absolute;right: 130px;top: 20px;margin-right: -25px;bottom: 0;width: 100%;height: 1px;background-color: white;overflow: hidden;}
.content-wrapper .work-content .work-swiper {width: 100%;height: 100%;}
.content-wrapper .work-content .work-swiper .container {display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
.content-wrapper .work-content .work-swiper .item .inner {height: 85%;background-color: #5B5B5B;padding: 20px 20px 30px;box-sizing: border-box;}
.content-wrapper .work-content .work-swiper .item .inner .f-content {height:85%;display: flex;justify-content: space-between;}
.content-wrapper .work-content .work-swiper .item .inner .f-content .title{position: relative;margin-top:20px;color:#eee;font-size: 20px;display: inline-block;writing-mode: vertical-rl;font-weight: bold;}
.content-wrapper .work-content .work-swiper .item .inner .f-content .title::before {content: '';display: block;position: absolute;top: -40px;left: 10px;width: 1px;height: 40px;background-color: #fff;}
.content-wrapper .work-content .work-swiper .item .inner .f-content .img-box {width: 90%;border:5px solid #fff;border-radius: 5px;overflow: hidden;}
.content-wrapper .work-content .work-swiper .item .inner .f-content .img-box .img {width: 100%;object-fit: cover;object-position: top;height: 100%; transition: 4s all ease;}
.content-wrapper .work-content .work-swiper .item .inner .f-content .img-box .img:hover {object-position: bottom;}
.content-wrapper .work-content .work-swiper .item .inner .text {position: relative;padding-top:35px;box-sizing: border-box;}
.content-wrapper .work-content .work-swiper .item .inner .text .flex {margin-bottom: 10px;}
.content-wrapper .work-content .work-swiper .item .inner .text h3 {color: #eee;font-size: 18px;font-weight: bold;}
.content-wrapper .work-content .work-swiper .item .inner .text .tag {display: flex;}
.content-wrapper .work-content .work-swiper .item .inner .text .tag li {font-size: 16px;color: #eee;font-weight: bold;}
.content-wrapper .work-content .work-swiper .item .inner .text .sub {display: block; color: #d3d3d3;font-size: 16px;text-align: left;line-height: 1.5;}
.content-wrapper .work-content .work-swiper .item .inner .text .link {position: absolute;right: 0;bottom: 0;padding: 5px 10px; display: inline-block;color: #e1c154;transition: color .3s ease-in-out, box-shadow .3s ease-in-out;border:1px solid #e1c154;box-sizing: border-box;}
.content-wrapper .work-content .work-swiper .item .inner .text .link:hover {box-shadow: inset 100px 0 0 0 #e1c154;color: white;}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {bottom: 60px;height: 3px;width: 100%;right: 0;left: 0;}
.swiper-scrollbar-drag {background: #eee;}

.content-wrapper .life-content {height: 100vh;background-color: #DAE2B6;padding: 80px;box-sizing: border-box;}
.content-wrapper .life-content::before {content:'';display:block;position:absolute;left: 40px;top: 80px;bottom: 0; width:1px;height: 100%;background-color: white;}
.content-wrapper .life-content h2 {position: relative;margin:50px 0 20px; color: #fff;font-size: 36px;text-align: right;}
.content-wrapper .life-content h2::after {content: '';display: block;position: absolute;right: 130px;top: 20px;margin-right: -25px;bottom: 0;width: 100%;height: 1px;background-color: white;overflow: hidden;}
.content-wrapper .life-content sub {display: block;font-size: 20px;color: #fff;font-weight: bold;text-align: right;}

.content-wrapper .contact-content {height: 100vh;background-color: #ECE5C7;padding: 80px;box-sizing: border-box;}
.content-wrapper .contact-content::before {content:'';display:block;position:absolute;left: 40px;top: 80px;bottom: 0; width:1px;height: 100%;background-color: white;}
.content-wrapper .contact-content h2 {position: relative;margin:50px 0; color: #fff;font-size: 36px;text-align: right;}
.content-wrapper .contact-content h2::after {content: '';display: block;position: absolute;right: 185px;top: 20px;margin-right: -25px;bottom: 0;width: 100%;height: 1px;background-color: white;overflow: hidden;}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) { 
  .navbar {flex-direction: column;align-items: flex-start;padding: 25px 0px;box-sizing: border-box;}
  .navbar .inner .logo {margin: 0 0 0 30px;}
  .navbar .inner {flex-direction: column;align-items: start;}
  .navbar .inner .navbar__menu {display: none;flex-direction: column;align-items: center;width: 100%;background-color: #fff;}
  .navbar .inner .navbar__menu li {width: 100%;text-align: center;margin-left: 0;padding-bottom: 25px;box-sizing: border-box;}
  .navbar .inner .navbar__menu li:last-child {padding-bottom: 0;}
  .navbar .inner .navbar__toggleBtn {display: block; top: 27px; right: 30px;}
  .navbar .inner .navbar__toggleBtn i {color: #5c5c5c;}
  .navbar .inner .navbar__menu.active,
  .navbar .inner .navbar__icons.active {margin-top:25px;display: flex;padding: 50px 0;box-sizing: border-box;}
  .slider .swiper-slide .text-box span {font-size: 48px;}
}